.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* menu */
.container {
  display: flex;
  justify-content: space-between;
}

.title {
  display: inline-block;
  font-size: 24px;
  color: #E9609E;
  margin: 0;
  padding: 10px;
}

/* Card */
.card-container{
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  min-height: 120px;
  width: 350px;
  border: solid 1px #f3abae;
  background: rgba(#f3abae, 0.2);
  h3 {
    padding: 5px 10px;
    font-size: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bold;
    color: #E9609E;
  }
  p {
    padding: 0 10px;
  }
}

.green > .card {
  background: rgba(#92d2db, 0.4);
}

/* button */
.twitter-share-button {
  text-decoration: none;
}

/* address */
address {
  margin: 30px 0;
}